.DS_Store

atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/github.cson
atom.symlink/recovery
atom.symlink/.atom-socket-*

# Always get latest versions
Brewfile.lock.json

zsh/custom/plugins/*

git/gitconfig.local.symlink
