"*":
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "ide-flow"
    ]
    telemetryConsent: "limited"
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "ad4701ec-8b14-3b1f-0795-104a3de26797"
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  linter:
    errorPanelHeight: 26
  "linter-eslint": {}
  nuclide:
    "nuclide-flow":
      canUseFlowBin: true
      enableStructuredTypeHints: true
      pathToFlow: "/usr/local/bin/flow"
    "nuclide-home":
      showHome: false
  welcome:
    showOnStartup: false
