"*":
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "tree-view"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "unity-ui"
      "glacier-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    goPath: "/Users/holman/Code/go"
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  linter:
    errorPanelHeight: 22
  "linter-eslint": {}
  nuclide:
    "nuclide-home":
      showHome: false
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
