"*":
  "atom-package-deps":
    ignored: []
  autosave:
    enabled: true
  core:
    ignoredNames: [
      ".git"
      "node_modules"
    ]
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.js": [
        ".snap"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter"
      "tree-view"
    ]
    ignoredNames: [
      ".git"
      "node_modules"
    ]
    telemetryConsent: "limited"
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "ad4701ec-8b14-3b1f-0795-104a3de26797"
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  linter: {}
  "linter-eslint": {}
  "linter-ui-default":
    panelHeight: 69
  nuclide:
    installRecommendedPackages: true
    "nuclide-buck": {}
    "nuclide-file-tree":
      revealFileOnSwitch: true
    "nuclide-flow":
      canUseFlowBin: true
      enableStructuredTypeHints: true
      pathToFlow: "/usr/local/bin/flow"
    "nuclide-home":
      showHome: false
    use:
      "atom-ide-busy-signal": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-code-format": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-diagnostics-ui": "default"
      "atom-ide-find-references": "default"
      "atom-ide-global": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-signature-help": "default"
      hyperclick: "default"
      "nuclide-adb-logcat": "default"
      "nuclide-adb-sdb": "default"
      "nuclide-atom-notifications": "default"
      "nuclide-autocomplete": "default"
      "nuclide-blame": "default"
      "nuclide-blame-provider-hg": "default"
      "nuclide-bookshelf": "default"
      "nuclide-buck": "default"
      "nuclide-buck-ios": "default"
      "nuclide-clang": "default"
      "nuclide-clipboard-path": "default"
      "nuclide-code-search": "default"
      "nuclide-context-view": "default"
      "nuclide-cquery-lsp": "default"
      "nuclide-ctags": "default"
      "nuclide-current-working-directory": "default"
      "nuclide-debugger": "default"
      "nuclide-debugger-native": "default"
      "nuclide-debugger-new": "default"
      "nuclide-debugger-php": "default"
      "nuclide-debugger-vsp": "default"
      "nuclide-deep-link": "default"
      "nuclide-definition-preview": "default"
      "nuclide-definition-preview-provider": "default"
      "nuclide-deprecation-cop": "default"
      "nuclide-device-panel": "default"
      "nuclide-device-panel-ios": "default"
      "nuclide-diagnostics-extras": "default"
      "nuclide-distraction-free-mode": "default"
      "nuclide-file-family": "default"
      "nuclide-file-family-projectionist": "default"
      "nuclide-file-tree": "default"
      "nuclide-file-watcher": "default"
      "nuclide-flow": "default"
      "nuclide-fuzzy-filename-provider": "default"
      "nuclide-graphql": "default"
      "nuclide-hack": "default"
      "nuclide-health": "default"
      "nuclide-hg-repository": "default"
      "nuclide-hhvm": "default"
      "nuclide-home": "default"
      "nuclide-http-request-sender": "default"
      "nuclide-infer-al": "default"
      "nuclide-ios-simulator-logs": "default"
      "nuclide-js-imports-client": "default"
      "nuclide-json": "default"
      "nuclide-key-binding-hint-status": "default"
      "nuclide-language-hack": "default"
      "nuclide-language-infer-al": "default"
      "nuclide-language-reason": "default"
      "nuclide-metro": "default"
      "nuclide-move-item-to-available-pane": "default"
      "nuclide-navigation-stack": "default"
      "nuclide-navigation-stack-status-bar": "default"
      "nuclide-notifications": "default"
      "nuclide-nux": "default"
      "nuclide-objc": "default"
      "nuclide-ocaml": "default"
      "nuclide-open-filenames-provider": "default"
      "nuclide-outline-view-extras": "default"
      "nuclide-project": "default"
      "nuclide-python": "default"
      "nuclide-quick-open": "default"
      "nuclide-react-inspector": "default"
      "nuclide-recent-files-provider": "default"
      "nuclide-recent-files-service": "default"
      "nuclide-refactorizer": "default"
      "nuclide-related-files": "default"
      "nuclide-remote-atom": "default"
      "nuclide-remote-projects": "default"
      "nuclide-settings": "default"
      "nuclide-ssh-tunnel": "default"
      "nuclide-swift": "default"
      "nuclide-syntactic-selection": "default"
      "nuclide-task-runner": "default"
      "nuclide-terminal": "default"
      "nuclide-test-runner": "default"
      "nuclide-type-coverage": "default"
      "nuclide-type-hint": "default"
      "nuclide-ui": "default"
      "nuclide-unicode-datatip": "default"
      "nuclide-url-hyperclick": "default"
      "nuclide-vcs-log": "default"
      "nuclide-working-sets": "default"
  "prettier-atom":
    prettierOptions:
      jsxBracketSameLine: true
      semi: false
      singleQuote: true
      trailingComma: "all"
    useEslint: true
  "tool-bar":
    visible: false
  welcome:
    showOnStartup: false
